<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.nju.memo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.StartFloatBallService"
            android:enabled="true" />

        <activity android:name=".activities.QuickNewItemActivity">

            <intent-filter>

                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MemoDetailActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />

        <service android:name=".service.ClipboardListenService" />

        <activity
            android:name=".MemoPreview"
            android:label="Memo"
            android:theme="@style/MemoPreviewTheme">

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.SEND" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->

                <!--<data android:mimeType="text/*" />-->
                <!--<data android:mimeType="image/*" />-->
            <!--</intent-filter>-->

        </activity>
    </application>

</manifest>